/* Style général */
* {
    margin: 0;
    padding: 0;
}

a {
    color: aliceblue;
    text-decoration: none;
}

#accueil {
    background-color: cornflowerblue;
}

/* HEADER & FOOTER */

.container {
    display: flex;
    justify-content: space-around;
    background-color: darkcyan;
    border-bottom: black 1px solid;
}

.btn_menu {
    display: flex;
    background-color: blue;
    border: black 1px solid;
    border-radius: 10px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    height: 40px;
}

footer {
    display: flex;
    background-color: teal;
    border-top: black 1px solid;
    bottom: 0;
    width: 100%;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    height: 40px;
}

/* Page Accueil */

.home {
    /* section 1 (img + titre + inscription)  */
    display: flex;
    flex-direction: column;
    background-image: url("https://cdnfr1.img.sputniknews.com/images/103272/22/1032722208.jpg");
    color: darkblue;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
}

.btn_inscription {
    background-color: blueviolet;
    border: black 1px solid;
    border-radius: 10px;
    width: 150px;
    margin-top: 20px;
}

.res_pres {
    /* section 2 (présentation résumé) */
    text-align: center;
    background-color: cornflowerblue;
    padding: 10px;
}

/* Section 3 (Aperçu des Produit + btn inscription) */

.container_produits {
    display: flex;
    background-color: cornflowerblue;
    padding: 20px;
    justify-content: space-between;
}

.container_produits img {
    width: 300px;
    height: auto;
}

.container_produits a {
    background-color: cornflowerblue;
}

.container_produits p {
    text-align: center;
}

.produits {
    border-top: black 1px solid;
}

.produits h2 {
    background-color: cornflowerblue;
    text-align: center;
    padding-top: 10px;
}

.inscription {
    background-color: cornflowerblue;
    text-align: center;
    padding: 10px;
}

/* section 4 (avis client) */

.avis_client {
    background-color: cornflowerblue;
    border-top: black 1px solid;
    text-align: center;
    padding-bottom: 10px;
}

.avis_client h2 {
    padding-bottom: 15px;
    padding-top: 5px;
}

.container_cite {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container_cite {
    background-color: cornflowerblue;
}

/* section 5 (formulaire contact) */

.contact {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
    background-color: cornflowerblue;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
}